<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <form action="/write" method='post'>
    title:<br>
    <input type='text'name='title'>
    <br>
    author:<br>
    <input type='text'name='author'>
    <br>
    content:<br>
  <input type='text'name='content'>
  <br><br>
  <input type='submit' value='작성'>
</form>
<form action='/'>
 <input type='submit' value='취소'>
</form>

</body>
</html>
